FLASK_SECRET_KEY=<generate with  python -c 'import secrets; print(secrets.token_hex(32))'>
ADMIN_API_KEY=<generate with  python -c 'import secrets; print(secrets.token_hex(32))'>
AZURE_CLIENT_ID=your_client_id_here
AZURE_CLIENT_SECRET=your_client_secret_here
AZURE_TENANT_ID=your_tenant_id_here
ROOM1_EMAIL=meetingroom1@yourdomain.com
ROOM2_EMAIL=meetingroom2@yourdomain.com
ROOM1_NAME=Meeting Room 1
ROOM2_NAME=Meeting Room 2
